---
- name: Hello World!
  hosts: all
  vars:
    foo: 
      lolo: lele 
  tasks:
 
  - name: Check SSHish
    shell: "echo Hello World"

  - name: Hello World - 10!
    debug: 
      msg: "Hello World!!! Server {{ ansible_hostname }} var foo={{ foo.lolo }}"
    loop: "{{ range(1, 10) }}"

#  - name: Time out
#    ansible.builtin.pause:
#      minutes: 2

  - name: Hello World - 50!
    debug: 
      msg: "Hello World!!! Server {{ ansible_hostname }} var foo={{ foo.lolo }}"
    loop: "{{ range(11, 50) }}"

#  - name: Time out
#    ansible.builtin.pause:
#      minutes: 2

  - name: Hello World - 100!
    debug: 
      msg: "Hello World!!! Server {{ ansible_hostname }} var foo={{ foo.lolo }}"
    loop: "{{ range(51, 100) }}"

#  - name: Time out
#    ansible.builtin.pause:
#      minutes: 2

  - name: Hello World - 200!
    debug: 
      msg: "Hello World!!! Server {{ ansible_hostname }} var foo={{ foo.lolo }}"
    loop: "{{ range(101, 200) }}"

# - name: Time out
#    ansible.builtin.pause:
#      minutes: 2
  
  - name: Hello World - 300!
    debug: 
      msg: "Hello World!!! Server {{ ansible_hostname }} var foo={{ foo.lolo }}"
    loop: "{{ range(201, 1000) }}"
