---
- name: Hello World!
  hosts: localhost
  vars:
    foo: 
      lolo: lele 
  tasks:
    - name: Perform an action 1000 times
      ansible.builtin.debug:
        msg: "This is iteration number {{ item }}"
      loop: "{{ range(0, 1000) | list }}"
